* {
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

header {
  height: 0;
}

nav {
  position: fixed;
  display: inline;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1vh;
  background-color: #aaa;
  height: 11vh;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: black;
}



#logo {
  position: absolute;
  font-size: 3vw;
  left: 1vw;
  top: 0.5vw;
}

ul {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
}

li {
  display: inline;
  position: static;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 12vw;
  font-size: 2vw;
}

#page1 {
  height: 120vh;
  background-image: url("https://raw.githubusercontent.com/philipLutz/portfolio/master/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}

#title-container {
  position: absolute;
  top: 11vh;
  left: 20vw;
  font-size: 3vw;
  color: black;
}

#page2 {
  padding-top: 11vh;
  height: 100vh;
}

#page3 {
  padding-top: 11vh;
  height: 100vh;
}

#page4 {
  padding-top: 11vh;
  height: 100vh;
}

#page5 {
  padding-top: 11vh;
  height: 100vh;
}

