* {
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

header {
  height: 0;
}

nav {
  position: fixed;
  display: inline;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1vh;
  background-color: #aaa;
  height: 11vh;
  width: 100%;
}

a {
  text-decoration: none;
}

#logo {
  position: absolute;
  font-size: 3vw;
  left: 1vw;
  top: 0.5vw;
}

ul {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
}

li {
  display: inline;
  position: static;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 12vw;
  font-size: 2vw;
}

#page1 {
  height: 111vh;
}

#title-container {
  position: absolute;
  top: 20vw;

}

#page2 {
  padding-top: 11vh;
  height: 100vh;
}

#page3 {
  padding-top: 11vh;
  height: 100vh;
}

#page4 {
  padding-top: 11vh;
  height: 100vh;
}

#page5 {
  padding-top: 11vh;
  height: 100vh;
}

section {
  min-height: 200px;
  padding: 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}