* {
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

header {
  height: 0;
}

nav {
  position: fixed;
  display: inline;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1vh;
  background-color: rgba(0,0,0,0.8);
  height: 7vh;
  width: 100%;

}

nav a {
  text-decoration: none;
  color: #578EE0;
}

#logo {
  position: absolute;
  font-size: 6vw;
  left: 2vw;
  bottom: 1vh;
}

ul {
  display: inline-block;
  position: absolute;
  bottom: 1vh;
  right: 1vw;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

li {
  display: inline;
  position: static;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 12vw;
  font-size: 5vw;
}

#page1 {
  height: 120vh;
  background-image: url("https://raw.githubusercontent.com/philipLutz/portfolio/master/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}

#title-container {
  position: absolute;
  top: 6vh;
  left: 20vw;
  font-size: 5vw;
  color: black;
}

#title-container h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

#page2 {
  padding-top: 7vh;
  height: 150vh;
  background-color: #9BACA0;
  font-size: 5vw;
}

p {
  margin: 6vw;
}

#page2-button a:hover {
  color: #9BACA0;
}

#page3 {
  padding-top: 7vh;
  height: 260vh;
  background-color: #A3B0D7;
  font-size: 5vw;
}

#page3 h3 {
  padding-top: 3vh;
}

#page3 img {
  height: 24vh;
}

#page3-button a:hover {
  color: #A3B0D7;
}

#page4 {
  padding-top: 7vh;
  height: 128vh;
  background-color: #E7A875;
}

#icon-list {
  font-size: 28vw;
}

#page4-button a:hover {
  color: #E7A875;
}

#page5 {
  padding-top: 11vh;
  height: 100vh;
  background-color: #515187;
}

#page5 img {
  height: 40vh;
  border-radius: 10vh;
}

#contact-icons i {
  color: black;
  font-size: 10vh;
  margin-top: 3vh;
  padding: 2vw;
}

#contact-icons i:hover {
  color: #578EE0;
}

#page5-button a:hover {
  color: #515187;
}

